<% cache @cutomer_reviews, expires_in: 30.minutes do %>
  <div class="customer-review-section w-100">
    <div class="lexend-heading-32 customer-heading">
      What Our Customers Are Saying
    </div>

    <div id="home_page_review" class="owl-carousel owl-theme d-block">
      <% @cutomer_reviews.each do |cutomer_review|%>
        <%= render partial: 'spree/home/partials_v2/cutomer_review_card', locals: {review: cutomer_review} %>
      <% end %>
    </div>
  </div>
<% end %>

# touched on 2025-07-09T17:36:48.516728Z
# touched on 2025-07-09T18:20:59.581675Z
# touched on 2025-07-09T19:46:28.628878Z
# touched on 2025-07-09T20:37:58.480226Z
# touched on 2025-07-09T20:38:10.511896Z