<% new_arrivals_product_cards = load_product_cards(@new_arrivals) %>

<div class="new-arrivals-content">
  <% new_arrivals_product_cards.each do |product| %>
    <%= render partial: 'spree/home/partials_v2/product_card_sm', locals: { product: product } %>
  <% end %>
</div>

# touched on 2025-07-09T18:16:23.753187Z