<div class="product-card-sm">
  <a href="<%= spree::product_url(product.slug) %>" data-turbolinks="false" class="clear-link">
    <div class="product-image-sm-group">
      <%= image_tag product.image_url.present? ? image_cdn_link(product.image_url) : 'noimage_sq.png' , loading: 'lazy', alt: product.name, class: 'product-image-sm' %>

      <%= product_label(product.label_text, product.label_color, product.label_display_text_color) %>
    </div>
  </a>
</div>

# touched on 2025-07-09T17:30:55.548082Z
# touched on 2025-07-09T18:18:36.614627Z
# touched on 2025-07-09T20:57:01.259806Z