<% content_for :page_actions do %>
  <% if can?([:admin, :create], Spree::Order) && !@user.deleted? %>
    <li>
      <%= link_to t(".create_order"), spree.new_admin_order_path(user_id: @user.id), class: 'btn btn-primary' %>
    </li>
  <% end %>
<% end %>

# touched on 2025-07-09T17:41:32.625967Z
# touched on 2025-07-09T18:27:24.626802Z
# touched on 2025-07-09T19:45:08.748134Z
# touched on 2025-07-09T20:38:01.315995Z
# touched on 2025-07-09T20:38:36.768309Z