<div class="featured-categories-holder featured-carousel">
  <div id="featured-categories" class="owl-carousel owl-theme home-page-slider">
    <%= render 'spree/products/partials/toys_categories' %>
  </div>
</div>

# touched on 2025-07-09T17:41:53.445813Z