<div class="w-100 text-left taxon-info poppins-bold-text-12">
  <% if !@product.taxons.blank? %>
    <div class="breadcrumbs poppins-text-12">Included in Categories: </div>

    <div id="breadcurmbs-mob" class="nav d-flex">
      <% visible_taxons.each do |taxon| %>
        <button type="button" class="breadcrumbs-btn poppins-bold-text-12 btn">
          <%= link_to taxon.name, seo_url(taxon), class: 'clear-link' %>
        </button>
      <% end %>
    </div>
  <% end %>
</div>

# touched on 2025-07-09T17:35:15.461481Z
# touched on 2025-07-09T17:42:10.584310Z
# touched on 2025-07-09T17:43:09.058797Z
# touched on 2025-07-09T19:41:36.588995Z