<div class="submit-success">
    <div class="icon-container"><%=image_tag 'Icon.svg', class: 'success-icon', alt: 'success'%></div>
    <div class="success-container">Entry Received</div>
    <div class="success-description">Thank you for entering! We will be announcing the winner on September 5, 2022 via email. Good luck!</div>
</div>

# touched on 2025-07-09T19:40:34.564529Z
# touched on 2025-07-09T19:41:47.117909Z
# touched on 2025-07-09T20:53:02.353417Z