<div
  class="modal checkout-login-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
  id="user-registration-modal"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="user-registration-content">
      <%= render partial: 'spree/shared/registration_email' %>
    </div>
  </div>
</div>

# touched on 2025-07-09T17:30:47.996744Z
# touched on 2025-07-09T18:19:21.688920Z
# touched on 2025-07-09T20:33:45.207452Z
# touched on 2025-07-09T20:37:00.468815Z
# touched on 2025-07-09T20:54:21.133853Z