<div class="form-buttons" data-hook="buttons">
  <% button_state = @order&.ship_address&.empty? ? true : false %>
  <% show_placing_order = "payment_step_pay_now_btn" if button_text.include?('Pay Now') %>

  <%= button_tag button_text, class: "ag-btn-lg ag-btn-primary pay-now-btn disable-save-btn#{ 'payment_step_submit_button' if @order.state == 'payment'} #{show_placing_order}", id: 'payment_step_submit_button', disabled: button_state, data: {turbolinks: false} %>
  <script>Spree.disableSaveOnClick();</script>
</div>

# touched on 2025-07-09T17:30:02.153462Z
# touched on 2025-07-09T17:31:51.857331Z
# touched on 2025-07-09T18:23:47.403287Z
# touched on 2025-07-09T19:42:46.111438Z
# touched on 2025-07-09T20:40:14.204133Z
# touched on 2025-07-09T20:58:36.030688Z