.ag-progress-lg {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 100px;
  margin: 10px;
  height: 32px;
}

.ag-progress-md {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 100px;
  margin: 10px;
  height: 24px;
}

.ag-progress-sm {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 100px;
  margin: 10px;
  height: 16px;
}

.ag-progress-xsm {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 100px;
  margin: 10px;
  height: 8px;
}

.ag-progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  border-radius: 100px;
  background-color: var(--palette-primary-500);
  transition: width 0.6s ease;
}

# touched on 2025-07-09T17:28:08.017818Z
# touched on 2025-07-09T18:27:27.308375Z