<div data-hook="search_results">
  <%= render partial: 'spree/shared/products_search', locals: {products: @product_cards, taxon: @taxon } %>
</div>

<%= render partial: 'spree/shared/pick_up_popup' %>

# touched on 2025-07-09T20:56:35.869524Z