<div class="keep-uptodate-form-section">
  <div class="all-setup-section">
    <div class="all-setup-heading">
      YOU'RE All SET UP.
    </div>

    <div class="all-setup-body">
      Thanks for joining Agzaga! Keep an eye on your email for access to great deals, exclusive discounts,
      and updates on new and exciting features.
    </div>

    <div class="all-setup-body-1">
      To get you started, log-in and use the coupon code:
    </div>

    <div class="first">
      FIRST5
    </div>

    <div class="first-body">
       For 5% off your first purchase on Agzaga.com.
    </div>

    <%= link_to "#{spree.root_url}", class: "support-section-button" do %>
      Start Shopping
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.1666 10.8333L9.99992 15M9.99992 15L5.83325 10.8333M9.99992 15L9.99992 5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    <% end %>
  </div>
</div>

# touched on 2025-07-09T19:41:23.632495Z
# touched on 2025-07-09T20:37:53.390288Z