<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width"/>
</head>

<body>
    <%= yield %>
</body>
</html>

# touched on 2025-07-09T18:20:09.017474Z
# touched on 2025-07-09T20:57:10.071942Z