<% admin_breadcrumb(link_to plural_resource_name(Spree::HelpCenter), spree.admin_help_centers_path) %>

<h2>Edit FAQ</h2>
<%= form_for [:admin, @faq] do |f| %>

  <%= render partial: 'form', locals: { f: f } %>
  <fieldset class="no-border-top">
    <br>
    <div class="filter-actions actions" data-hook="buttons">
      <%= f.submit t('spree.actions.update'), class: 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>

# touched on 2025-07-09T18:27:01.949977Z
# touched on 2025-07-09T19:43:13.003054Z
# touched on 2025-07-09T20:55:11.474062Z