<%= form_for [:admin, @faq] do |f| %>

  <%= render partial: 'form', locals: { f: f } %>
  <fieldset class="no-border-top">
    <br>
    <div class="filter-actions actions" data-hook="buttons">
      <%= f.submit t('spree.actions.create'), class: 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>

# touched on 2025-07-09T17:41:48.652985Z
# touched on 2025-07-09T18:21:04.751817Z
# touched on 2025-07-09T19:38:15.138282Z