<div class="form-buttons filter-actions actions" data-hook="buttons">
  <%= button_tag t('spree.actions.update'), class: 'btn btn-primary', disabled: @user&.deleted? %>
  <%= link_to t('spree.actions.cancel'), collection_url, class: 'button', disabled: @user&.deleted? %>
</div>

# touched on 2025-07-09T17:43:06.457011Z
# touched on 2025-07-09T18:21:55.143954Z
# touched on 2025-07-09T20:56:47.526198Z