<div class="form-buttons filter-actions actions" data-hook="buttons">
  <%= submit_tag t('spree.actions.add'), class: 'btn btn-primary' %>
  <%= link_to t('spree.actions.cancel'), collection_url, class: 'button' %>
</div>

# touched on 2025-07-09T18:25:53.814348Z
# touched on 2025-07-09T20:35:41.906882Z