<div class="d-flex justify-content-end mb-4">
  <h4 class="text-center mb-3">Total Store Credits Liability: <%= "$#{'%.2f' % total_store_credit}" %></h4>
</div>

# touched on 2025-07-09T17:28:04.093944Z
# touched on 2025-07-09T17:31:41.899729Z
# touched on 2025-07-09T20:33:27.524249Z
# touched on 2025-07-09T20:38:29.895390Z