.flash-wrapper .flash {
  padding: 10px;
  color: #FFFFFF;
  font-weight: bold;
  padding-right: -15px;
  padding-left: -15px;

  &.notice {
    background-color: #00ADEE;
    margin-bottom: 0;
  }
  &.success {
    background-color: #51C571;
    margin-bottom: 0;
  }
  &.error {
    background-color: #E32754;
    margin-bottom: 0;
  }
}

.turbolinks-progress-bar {
    z-index: 1111111;
    background: #F1B71C;
    height: 5px;
}

# touched on 2025-07-09T17:35:32.722858Z
# touched on 2025-07-09T19:40:44.749589Z