<div class="early-bird-sale">
  <div class="sale">21% OFF</div>
</div>

<div class="early-bird-text">
  <div class="welcome-text">AGZAGA DAY</div>
  <div class="signup-text">SUBSCRIBE FOR <span class="early-bird"> EARLY BIRD </span> ACCESS STARTING MAY 31st</div>
  <div class="signup-now-text">Sign up now!</div>
  <div class="reg">
    <div class="sale d-md-none">
      <div>21%</div> <div>OFF</div>
    </div>
    <div><%= render 'spree/shared/subscriber_registration', name: 'Submit' %></div>
  </div>
</div>

# touched on 2025-07-09T17:40:20.687570Z
# touched on 2025-07-09T18:24:49.801501Z
# touched on 2025-07-09T20:34:13.745601Z