<% if flash[:success] %>
  <div class="ticker ticker-success">
    <span><%= image_tag 'tick_white.svg'%></span>

    <span><%= flash[:success] %></span>
  </div>
<% end %>

<script>
  window.$('.ticker:visible').length && setTimeout(()=> window.$('.ticker:visible').hide(), 4000)
</script>

# touched on 2025-07-09T19:40:55.244272Z
# touched on 2025-07-09T20:55:24.137667Z