<div class="footer_credit_p-t">
  <ul class="nav">
    <li class="nav-item">
      <a class="pl-0 nav-link visa-card" href="#"><%= image_tag 'visa-dark.svg', alt: 'Visa' %></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#"><%= image_tag 'master-dark.svg', alt: 'Master' %></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#"><%= image_tag 'discover-dark.svg', alt: 'Discover' %></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#"><%= image_tag 'american-express-dark.svg', alt: 'American Experss' %></a>
    </li>
  </ul>

  <ul class="pl-0 nav under-credit-cards">
    <li class="nav-item">
      <a class="poppins-text-14 nav-link" href="/privacy_policy">Privacy</a>
    </li>

    <li class="nav-item">
      <a class="poppins-text-14 nav-link" href="/shipping_policy">Shipping & Returns</a>
    </li>
  </ul>
</div>

# touched on 2025-07-09T18:26:31.091536Z
# touched on 2025-07-09T19:41:11.948251Z
# touched on 2025-07-09T19:44:58.429204Z