<% size ||= :mini %>
<% itemprop ||= nil %>
<% options ||= {} %>

<% if image_url = image.try(:url, size)  %>
  <% if image_alt = image.try(:alt) %>
    <%= image_tag image_cdn_link(image_url), { alt: image_alt, itemprop: itemprop }.merge(options) %>
  <% else %>
    <%= image_tag image_cdn_link(image_url), { itemprop: itemprop }.merge(options) %>
  <% end %>
<% else %>
  <span class="image-placeholder <%= size %>"></span>
<% end %>

# touched on 2025-07-09T20:40:05.519282Z
# touched on 2025-07-09T21:01:06.138487Z