<div class="product-quick-view">
  <div class="modal fade" id="product-quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <%= render partial: 'spree/shared/product_quick_view_body' %>
  </div>
</div>

# touched on 2025-07-09T17:33:43.352721Z
# touched on 2025-07-09T20:35:05.803643Z
# touched on 2025-07-09T20:54:18.741343Z